.wp-block-devanshi-image-gallery {
	.scrollable-gallery-inner-container {
		display: flex;
		flex-direction: row;
		overflow-x: scroll;
		margin: 0;
	
		img {
			object-fit: cover;
			&:not(:last-child) {
				margin-right: 16px;
			}
		}
	}
}